/* TSOS.css */

body {
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    font-style: normal;
}

#divConsole {
    overflow: scroll;
    width: 500px;
    height: 500px;
    padding: 0 !important;
}

#consolePanel {
    width: 502px;
}

textArea {
    width: 100%;
    height: 100%;
}

h1 {
    color: black;
    font-size: 24pt;
    font-weight: normal;
    font-style: normal;
    border-bottom: 1px solid black;
}

h2 {
    color: black;
    font-size: 20pt;
    font-weight: normal;
    font-style: normal;
}

h3 {
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 16pt;
    font-weight: normal;
    font-style: normal;
}

#display {
    background-color:#003c4a;
    border: #003c4a solid 10px;
    cursor: default;
    width: 500px;
}

.normal_button {
    width: 100px;
}

.footerText {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    text-align: center;
}
